@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Gilroy', sans-serif;
}

#__next{
  flex: 1 auto;
  justify-content: center;
  display: flex;
  max-width: 480px !important;
  width: 100%;
}
.main-container {
  max-width: 480px !important;
  /* border: 1px solid #f5f5f5; */
  padding: 0px 18px;
  padding-bottom: 1rem;
}
.root{
  max-width: 480px;
  width: 100%;
}
.fixed-container{
  max-width: 480px;
  width: 100%;
}
.header-container{
  display: flex;
  flex-direction: row;
  margin: 2rem 0rem;
}
.header-text{
  flex: 1 1 auto;
  color: #504F50;
  font-weight: 600;
}
.header-icon{
  display: flex;
  align-items: center;
}
.icon-filter{
  background-color: #504F50;
    display: block;
    width: 20px;
    height: 20px;
    mask: url('/icons/Filter.svg') no-repeat center / contain;
    -webkit-mask: url('/icons/Filter.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-search{
  background-color: #504F50;
    display: block;
    width: 25px;
    height: 25px;
    mask: url('/icons/Search.svg') no-repeat center / contain;
    -webkit-mask: url('/icons/Search.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-ellips{
  background-color: #00FF85;
    display: block;
    width: 7.5px;
    height: 7.5px;
    margin-left: 0.25rem;
    mask: url('/icons/Ellips.svg') no-repeat center / contain;
    -webkit-mask: url('/icons/Ellips.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-clock{
  background-color: #fff;
    display: block;
    width: 10px;
    height: 10px;
    mask: url('/icons/Clock.svg') no-repeat center / contain;
    -webkit-mask: url('/icons/Clock.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-call{
  background-color: #4D4C4E;
    display: block;
    width: 37px;
    height: 37px;
    mask: url('/icons/Call.svg') no-repeat center / contain;
    -webkit-mask: url('/icons/Call.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-chat{
  background-color: #4D4C4E;
    display: block;
    width: 37px;
    height: 37px;
    mask: url('/icons/Chat.svg') no-repeat center / contain;
    -webkit-mask: url('/icons/Chat.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-camera{
  background-color: #4D4C4E;
    display: block;
    width: 37px;
    height: 37px;
    mask: url('/icons/Camera.svg') no-repeat center / contain;
    -webkit-mask: url('/icons/Camera.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-setting{
  background-color: #4D4C4E;
    display: block;
    width: 37px;
    height: 37px;
    mask: url('/icons/Setting.svg') no-repeat center / contain;
    -webkit-mask: url('/icons/Setting.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-ellips.m-0{
  margin-left: 0;
}
.bg-search{
  background-color: #504F50;
}
.bg-purple{
  background-color: #7C01F6;
}
.bg-gray{
  background-color: #C8C8C8;
}
.bg-semi-black{
  background-color: #1F1F1F;
}
.bg-gradient-purple{
  background: linear-gradient(to right, #7C01F6, #B66DFF);
}
.text-white{
  color: #fff;
}
.text-purple{
  color: #7C01F6;
}
.search-container{
  display: flex;
  height: 48px;
  position:relative;
}
.search-input{
  color:#C8C8C8;
  font-weight: 700;
  flex: 1;
  border-radius: 2rem;
  padding: 0rem 1rem;
}
.icon-search.input{
  position: absolute;
  right: 15px;
  background-color: #c8c8c8;
  transform: translateY(-50%);
  top: 50%;
}
.active-container{
  display: inline-flex;
  background: linear-gradient(to right, #7C01F6, #B66DFF);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}
.active-user-container{
  margin-top: 1rem;
}
.bg-user-1{
  background-color: #009BE4;
}
.active-user{
  border-radius: 2rem;
}
.active-user-text{
  color: #C8C8C8;
  font-weight: 700;
  margin-top: 0.25rem;
}
.chat-section{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  margin-bottom: 5rem;
}
.chat-container{
  display: flex;
  flex-direction: row;
  border: 1px solid #7D7783;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  background-color: #1f1f1f;
}
.img-chat-container{
  border-radius: 3rem;
  width: 67.5px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
}
.img-chat-container-small{
  border-radius: 1rem;
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
}
.unread{
  height: 18px;
  width: 18px;
  justify-content: center;
  border-radius: 3rem;
  font-size: 1rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 5% 0% 0% 0%;
}
.menu{
  border-radius: 3rem;
}

/* chat section */
.header-char{
  background-color: #504F50;
  display: flex;
  flex-direction: row;
  padding:2rem;
}
.header-chat-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.calendar-section{
  text-align: center;
}
.chat-main{
  padding: 0rem 1rem;
}
/* end chat section */